- content_for :nav do
  %ul.nav{:'data-behavior' => 'highlight_active list_filter', :"data-content-to-filter" => "ul.events"}
    %li.free
      = link_to "0", "#", {title: "Free", :"data-list-filter-show" => ".free"}
    %li.cheap
      = link_to "&cent;".html_safe, "#", {title: "Under $10", :"data-list-filter-show" => ".free .cheap"}
    %li.over-ten.active
      = link_to "$", "#", {title: "Over $10", :"data-list-filter-show" => ".free .cheap .over-ten"}
%ul.events.unstyled
  - @events.group_by(&:day).each do |day, events|
    %li.day_header
      %h3= day
    - events.each do |event|
      %li.event.well{:class => event.price_class}
        .header
          %h2= event.name
          .price
            .label= event.price
        .venue
          %h4 #{event.venue_name}
          %h5 #{event.time_info}
        %address= event.venue_address
        %p= event.description



